.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.form__title {
    text-align: center;
    font-family: 'Monserrat', sans-serif;
}
